body {
    color: white;
    background-color: #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

.center {
    text-align: center;
}

h1 {
    color: yellow;
}

h2 {
    color: yellow;
}

h3 {
    color: blue;
}

h7 {
    color: rgb(17, 8, 148);
}

p {
    color: red;
}

h6 {
    color: white;
}

.trilho {
    width: 60px;
    height: 20px;
    background-color: #eb0404;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador {
    width: 20px;
    height: 20px;
    background-color: #4d4d4d;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: #ff0000;
}

.trilho.dark .indicador {
    left: 40px;
    background-color: #11ee75
}

body.dark {
    background-color: #11ee75;
}

body.dark h6 {
    color: white;
}

.link-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}

nav a:hover {
    color: greenyellow;
}

.link-bio {
    width: 150px;
    height: 150px;
    border: solid 5px red;
    border-radius: 50%;
}

.link-bio {
    font-size: 40px;
}

.link-bio a {
    background-color: red;
    color: white;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px red;
    border-radius: 10px;
}

.link-bio a:hover {
    background-color: white;
    color: red;
}

.animatedText {
    font-family: 'Time New Roman';
    top: 35%;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(-550deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%, #e91248 150%, #04521e 200%, #e5f64f 250%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bgText 2.5s linear infinite;
    font-size: 1em;
}

@keyframes bgText {
    to {
        background-position: 200% center;
    }
}

.wrapper {
    width: 200px;
    height: 60px;
    position: center;
    left: 50%;
    top: 50%;
    transform: translate(-1%, -1%);
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scale(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }

}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span {
    position: absolute;
    top: 75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
}